{
  "useTabs": false,
  "printWidth": 140,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 140
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": [
        "*.yml"
      ],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}