<% if (template === 'pug') {%>
div(class="<%= dasherize(name) %>")
  h1 <%= dasherize(name) %> Component
<% } else { %>
<div class="<%= dasherize(name) %>">
  <h1><%= dasherize(name) %> Component</h1>
</div>
<% } %>
